CompileFlags:                     # Tweak the parse settings
  Add: [-std=c++17,-std=c++11]
  Remove: [-std=gnu++17,-std=gnu11]

Index:
  Background: Build     # Disable slow background indexing of these files.

Diagnostics:
  ClangTidy:
    Add: modernize*
    FastCheckFilter: Strict
  UnusedIncludes: Strict
InlayHints:
  BlockEnd: No
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  TypeNameLimit: 40
