name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: [self-hosted, linux] 
    steps:
      - uses: actions/checkout@v4

      - name: Configure CMake
        run: cmake -B build

      - name: Build project
        run: cmake --build build

      - name: Save binary file
        run: cp build/executable.bin ${{ github.workspace }}/executable.bin
